html
    head
        meta(charset='UTF-8')
        title gulp learning
        meta(name='description')
        meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
        meta(name='viewport' content='width=device-width,initial-scale=1.0,minimun-scale=1.0,maximun-scale=1.0,user-scalable=no')
        meta(name='apple-touch-fullscreen' content='yes')
        meta(name='apple-mobile-web-app-capable' content='yes')
    body
        div.common
            p.common-p 这里是内容